<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <title>News Web Scrapping</title>
  <link rel="stylesheet" href="./styles/styles.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Mongo Scrapper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {{#if active_home}}active{{/if}}">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item {{#if active_articulos}}active{{/if}}">
          <a class="nav-link" href="/articulos">Saved Articles</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-danger" id="scrapeNews">Scrape New Articles</button>
        </li>

    </div>
  </nav>
  <div class="container" id="banner">
    <div class="row justify-content-center letras" id="titulo">
        <h1>Mongo Scrapper</h1>
    </div>
    </br>
    <div class="row justify-content-center letras">
        <h4>Noticias de Futbol Mexicano</h4>
    </div>
        <!--Modal-->
    <div class="modal fade modalNote" id="modalScrape" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               
                <div class="modal-body" id="modalBody">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  id="closeScrapemodal" data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>

    <!--Finish Modal-->

  </div>
  {{{body}}}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="app.js"></script>

</html>